html, body {
  background-color: #F8F9FA;
}

/*Bootstrap container width*/
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

/*Header*/
.custom-logo {
  color: #ffffff;
  text-decoration: none;
}
.custom-logo:hover {
  color: #ffffff;
  text-decoration: none;
}

/*Modal Alert*/
.modal-body {
  padding: 0;
}
.alert {
  margin-bottom: 0;
  padding: 1.25rem;
  text-align: center;
}

/*Modal Item Details*/
.modal-backdrop.show {
  opacity: .8;
}
.custom-modal {
  width: 1280px;
  max-width: 83%;
}
.custom-modal .modal-content {
  border: none;
  border-radius: unset;
  background-color: transparent;
}
video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
}
video:focus {
  outline: none;
}

/*Item Card*/
.custom-card-image {
  position: relative;
  cursor: pointer;
}
.custom-card-image .custom-mask {
  opacity: 0;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(158, 158, 158, 0.1) fixed;
}
.custom-card-image .custom-mask:hover {
  opacity: 1;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.custom-card-text {
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Items*/
.custom-offset {
  margin-top: 140px;
}
@media (min-width: 576px) {
  .custom-offset {
    margin-top: 56px;
  }
}

.custom-items-wrapper {
  /* -header height, -footer height*/
  min-height: calc(100vh - 56px - 40px);
}

/*Landing Wrapper*/
.custom-landing-wrapper {
  /* -header height, -footer height*/
  min-height: calc(100vh - 56px - 40px);
  /*background: linear-gradient(to right, #e0eafc, #cfdef3);*/
  /*background: linear-gradient(to right, #ff0084, #33001b);*/
  /*background: linear-gradient(to right, #fdfc47, #24fe41);*/
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  /*background: linear-gradient(to right, #b3ffab, #12fff7);*/
  /*background: linear-gradient(to right, #fc00ff, #00dbde);*/
}

/*Slider*/
.slick-dots {
  bottom: 0;
  z-index: 9;
  cursor: default;
  line-height: .6;
  background-color: rgba(255,255,255,0.3);
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}
.slick-dots li button::before {
  opacity: .5;
}

/*Spinner*/
.custom-spinner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
  z-index: 930;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
.in-progress {
  visibility: visible;
  opacity: 1;
}

/*Pagination*/
.page-link {
  cursor: pointer;
  color: #6c757d;
}
.page-link:hover {
  color: #6c757d;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

/*React select (page-size)*/
.react-page-size-select__value-container {
  min-width: 41px !important;
}
.react-page-size-select__control {
  border-color: #c7cbce !important;
  cursor: pointer !important;
}
.react-page-size-select__indicator-separator {
  background-color: #c7cbce !important;
}
.react-page-size-select__indicator {
  color: #b3b3b3 !important;
}
.react-page-size-select__indicator:hover {
  color: #6c757d !important;
}
.react-page-size-select__single-value {
  color: #6c757d !important;
}
.react-page-size-select__control--is-focused {
  border-color: #b3b3b3 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.react-page-size-select__value-container--has-value {
  padding: 2px 10px !important;
}
.react-page-size-select__value-container {
  padding: 2px 10px !important;
}
.react-page-size-select__placeholder {
  color: #bbbbbb !important;
}
.react-page-size-select__menu,
.react-page-size-select__option {
  cursor: pointer !important;
  color: #6c757d !important;
}
.react-page-size-select__option:hover {
  text-decoration: none !important;
  background-color: #f8f9fa !important;
}
.react-page-size-select__option--is-focused {
  background-color: transparent !important;
}
.react-page-size-select__menu-list .react-page-size-select__option--is-selected {
  background-color: #007bff !important;
  color: #ffffff !important;
}
.react-page-size-select__menu-list .react-page-size-select__option--is-selected:hover {
  background-color: #007bff !important;
}